.btnMenu {
  background: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease;
  color: var(--c10);
  position: absolute;
  right: -50px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnMenu:hover {
  background-color: var(--c7);
}

.btnBuscador,
.btnBuscadorGeneral {
  display: flex;
  align-items: center;
  background: var(--c7);
  cursor: pointer;
  width: fit-content;
  color: var(--c10);
  border-radius: 5px;
  border: solid 1px var(--c4);
  padding: 0 1px 0 5px;
  height: fit-content;
}

.btnBuscadorGeneral input {
  width: 150px;
}

.btnBuscador input {
  width: 50px;
}

input {
  outline: none;
  border: none;
  background-color: var(--c7);
  padding: 7px 0;
}

.btnBuscador:focus-within,
.btnBuscadorGeneral:focus-within {
  border: solid 2px var(--c5);
}

.btnFiltro {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--c7);
  cursor: pointer;
  color: var(--c10);
  width: 100px;
  height: fit-content;
  border-radius: 5px;
}

select {
  border: none;
  appearance: none;
  outline: none;
  background-color: var(--c7);
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--c4);
  padding: 7px 1px 7px 5px;
  cursor: pointer;
}

.btnFiltro span {
  width: 22px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: 20px;
}

.btnOrdenar {
  display: flex;
  align-items: center;
  background: var(--c7);
  color: var(--c10);
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px var(--c4);
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s;
}

.btnOrdenar:hover {
  background: none;
  transition: all 0.2s;
  border-color: var(--c5);
}

.btnImprimir {
  display: flex;
  align-items: center;
  background: var(--c5);
  color: var(--c11);
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px var(--c5);
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: all 0.2s;
}

.btnAgregar {
  transition: all 0.2s;
}

.btnImprimir:hover,
.btnAgregar:hover {
  background: var(--c2);
  color: var(--c4);
  border: solid 1px var(--c4);
  transition: all 0.2s;
}

.btnImprimir:active,
.btnAgregar:active {
  transform: translateY(-3px);
}

.paginado-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.paginado-btn:active {
  transform: scaleX(0.9);
}

.accion-en-tabla {
  cursor: pointer;
  background: none;
  border: none;
}
