table {
  border-collapse: collapse;
  width: 100%;
  max-height: 100px;
  text-align: left;
  overflow-y: hidden;
  font-size: 14px;
}

.tablaChiquita {
  font-size: 15px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
  padding: 20px;
  text-align: left;
}

thead {
  background-color: #f8f8f8;
}

td {
  padding: 8px 15px;
}

td {
  border-top: 1px solid #d7dade;
  border-bottom: 1px solid #d7dade;
}

th {
  font-weight: 600;
  padding: 12px;
  width: 100px;
}

tbody tr:last-child td {
  border-bottom: 2px solid var(--c9);
}

tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #e8f4fe;
}

tbody {
  overflow-y: hidden;
}

.id,
.nro,
.accion {
  width: 30px;
  max-width: 30px;
}

.cuotas {
  width: 80px;
}

.plastico,
.precio,
.cantidad,
.total,
.estado,
.producto {
  width: 60px;
}
.cantidad {
  width: 100px;
  max-width: 80px;
}

.fecha {
  width: 120px;
}

.descripcion {
  width: 350px;
}

.direccion {
  width: 270px;
}

.correo,
.email,
.proveedor {
  width: 250px;
}

.cliente,
.nombre,
.fechaIngreso {
  width: 200px;
}

.area,
.telefono {
  width: 140px;
}

.accion-en-tabla:hover {
  color: var(--c5);
}
