* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: var(--c1);
}

:root {
  --c1: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --c2: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --c3: #e28000;
  --c4: #002e00;
  --c5: #1e9f1e;
  --c6: #d9dbe0;
  --c7: #ebedef;
  --c8: #91acb9;
  --c9: #e6e6e6;
  --c10: hsl(210, 18%, 40%);
  --c11: #f5f9fa;
  --c12: #d8dbdc;
  --c13: #1b8d73;
}

.Link {
  text-decoration: none;
}
.App {
  display: flex;
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--c4);
  background-color: var(--c1);
  font-size: 16px;
  flex-direction: row;
}

.contenedor-principal {
  background-color: var(--c1);
  display: flex;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  flex-direction: column;
  padding: 0 15px 0 15px;
  gap: 10px;
}

.contenedor-tabla {
  width: 100%;
  max-height: 773px;
  height: fit-content;
  overflow-y: hidden;
  border: solid 1px var(--sombra);
  border: 1px solid var(--c8);
}

h1 {
  color: var(--c4);
  font-size: 30px;
  font-weight: 600;
}

.titulo-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nroPaginaActual {
  background-color: var(--c12);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: default;
}

.paginado-tabla {
  display: flex;
  align-items: center;
}
